Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@copycopycopy
Miminosha
/
QA.GURU.HOMEWORK
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
QA.GURU.HOMEWORK/.gitignore
@Miminosha
Miminosha Create .gitignore
Latest commit ad03192 3 hours ago
 History
 1 contributor
38 lines (32 sloc)  388 Bytes

HELP.md
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Allure ###
.allure

### Gradle ###
.gradle

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications